absl-py==1.3.0
aiohttp==3.8.3
aiosignal==1.3.1
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.1.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
-e git+https://github.com/MaartenGr/BERTopic.git@3edfdb427c6c9bd8ebb445b6324f415bbe7bdf3c#egg=bertopic
bleach==5.0.1
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
contourpy==1.0.6
cubinlinker-cu11==0.3.0.post1
cuda-python==11.8.1
cudf-cu11==22.12.0
cupy-cuda11x==11.4.0
cycler==0.11.0
Cython==0.29.32
dask==2022.11.1
datasets==2.7.1
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
docopt==0.6.2
dynamic-bernoulli-embeddings==0.1.0
engineering-notation==0.6.0
entrypoints==0.4
evaluate==0.4.0
exceptiongroup==1.0.4
executing==1.2.0
fastjsonschema==2.16.2
fastrlock==0.8.1
filelock==3.8.0
flatbuffers==22.11.23
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
gast==0.4.0
gdtm==1.0.3
gensim==4.2.0
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.1
h5py==3.7.0
hdbscan==0.8.29
huggingface-hub==0.11.0
hupper==1.11
idna==3.4
importlib-metadata==5.0.0
importlib-resources==5.10.0
iniconfig==1.1.1
ipykernel==6.17.0
ipython==8.6.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.0
jupyter==1.0.0
jupyter-client==7.4.4
jupyter-console==6.4.4
jupyter-core==4.11.2
jupyter-server==1.21.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras==2.11.0
kiwisolver==1.4.4
libclang==14.0.6
llvmlite==0.39.1
locket==1.0.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mistune==2.0.4
msgpack==1.0.4
multidict==6.0.2
multiprocess==0.70.14
nbclassic==0.4.7
nbclient==0.7.0
nbconvert==7.2.3
nbformat==5.7.0
nest-asyncio==1.5.6
nltk==3.7
nose==1.3.7
notebook==6.5.2
notebook-shim==0.2.0
numba==0.56.4
numpy==1.23.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvtx==0.2.5
oauthlib==3.2.2
openTSNE==0.6.2
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.1
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
PasteDeploy==3.0.1
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pipreqs==0.4.11
pkgutil-resolve-name==1.3.10
plaster==1.1.2
plaster-pastedeploy==1.0.1
plotly==5.11.0
pluggy==1.0.0
prometheus-client==0.15.0
prompt-toolkit==3.0.31
protobuf==3.20.3
psutil==5.9.3
ptxcompiler-cu11==0.7.0.post1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.13.0
pynndescent==0.5.8
pyparsing==3.0.9
pyramid==2.0
pyrsistent==0.19.2
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.6
PyYAML==5.4.1
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
rank-bm25==0.2.2
rapids==0.0.1
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
responses==0.18.0
rmm-cu11==22.12.0
rsa==4.9
scikit-learn==0.22
scipy==1.9.3
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
six==1.16.0
sklearn==0.0
smart-open==6.2.0
sniffio==1.3.0
soupsieve==2.3.2.post1
spherecluster==0.1.7
stack-data==0.6.0
statsmodels==0.13.5
tblib==1.7.0
tenacity==8.1.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
termcolor==2.1.1
terminado==0.17.0
threadpoolctl==3.1.0
tinycss2==1.2.1
tk==0.1.0
tk-tools==0.16.0
tokenizers==0.13.2
tomli==2.0.1
toolz==0.12.0
torch==1.13.0
torchvision==0.14.0
tornado==6.1
tqdm==4.64.1
traitlets==5.5.0
transformers==4.25.1
translationstring==1.4
typing-extensions==4.4.0
umap-learn==0.5.3
Unidecode==1.3.6
urllib3==1.26.13
venusian==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.4.1
Werkzeug==2.2.2
widgetsnbextension==4.0.3
wrapt==1.14.1
xxhash==3.1.0
yarg==0.1.9
yarl==1.8.1
zipp==3.10.0
zope.deprecation==4.4.0
zope.interface==5.5.2
